.botao {
  display: inline-block;
  color: #332200;
  text-transform: uppercase;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 1 2px rgba(0, 0, 0, 1);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}