.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  position: relative;
  display: inline-block;
  padding: 16px 0;
  color: #ffffff;
  font-size: 1.125rem;
  font-family: 'Poppins';
  font-weight: 500;
}

.header-menu a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

/* Responsivo - 800px*/
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background: #2E2E2E;
  }

  .header-menu a:after {
    display: none;
  }
}

/* Responsivo - 600px*/
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    font-size: .875rem;
    padding: 8px 12px;
  }
}